main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 89vh;
  background-color: black;
  flex-direction: column;
  margin-bottom: none;
}

#logo {
  filter: invert(100);
  width: 10vw;
  height: 10vh;
  max-width: 110px;
}

h1{
  margin-top: 0.1vh;
}
.BookFlexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../HoroscopeDisplay/images/Book.png");
  background-size:cover;
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  height: 75vh;
  width: 95vw;
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  margin-right: 10vw;
  margin-left: 10vw;
  align-content: center;
}
#form1{
  position: relative;
  align-self: flex-start;
  left: -3%;
  top: 30%;
  width: 25vw;
  max-width: 20%;
}
#form2{
  position: relative;
  align-self: flex-start;
  top: 30%;
  left: 3%;
  width: 25vw;
  max-width: 20%;
}

input{
  margin-bottom: 10px;
  padding: 8px;
  background-color: transparent;
}

button {
  background-image: url("../HoroscopeDisplay/images/Button.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
  cursor: pointer;
  padding: 8px;
  color: black;
  margin-bottom: none;
  margin-top: 1vh;
}

button:hover {
  transform: scale(1.1);
}
