main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 89vh;
  background-color: black;
  flex-direction: column;
  margin-bottom: none;
}

#logo {
  filter: invert(100);
  width: 10vw;
  height: 10vh;
  max-width: 110px;
}

h1 {
  margin-top: 0.1vh;

}

.BookFlexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  background-image: url("../HoroscopeDisplay/images/Book.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 60vw;
  width: 95vw;
  color: black;

}

form {
  display: flex;
  flex-direction: column;
  width: 40%;
  max-width: 43vw;
  align-content: center;
  position: relative;
  align-self: flex-start;
  font-size: 1.15vw;
  font-family: 'Kalam', cursive;
  top: 13%;
}

p {
  margin: .5vmin;
}

#form2 {
  left: 6%;
}


fieldset {
  border: none;
  width: 50%;
  max-width: fit-content;
}

input[type="text"] {
  margin-bottom: 1vmin;
  padding: 1vmin;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: .2vw solid black;
}

/* Media query for smaller screens */
@media (max-width: 2300px) {

  #form1 {
    left: 5%;
    align-self: left;
  }
}

@media (max-width: 1000px) {
  input[type="radio"] {
    transform: scale(0.3);
    /* Adjust the scale factor as needed */
  }
}

/* Media query for larger screens */
@media (min-width: 2300px) {
  input[type="radio"] {
    transform: scale(1.2);
    padding: 1vmin;
    /* Adjust the scale factor as needed */
  }

  #form1 {
    left: 11%;
  }

}

button {
  top: 40%;
  width: 7vw;
  height: 2.5vw;
  font-size: 1vw;
  text-align: center;
  font-family: 'Kalam', cursive;
  background-image: url("../HoroscopeDisplay/images/Button.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

button:hover {
  transform: scale(1.1);
}