@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Kalam:wght@300&family=Rubik+Wet+Paint&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");

body {
  background-image: url("./Assets/home-table.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  min-height: 100vh;
  color: white;

  margin: 0px;
  height: 100vh;
}

h1 {
  text-align: center;
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
    1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
  font-family: "Nosifer";
  font-size: 2rem;
}

form {
  border-width: 0px;
  border-color: transparent;
  outline-width: 0px;
}

.back {
  position: fixed;
  top: 95%;
  left: 90%;

  font-family: "Kalam", cursive;

  width: 6vw;
  height: 3vw;

  background-image: url("../Assets/Button.png");
  background-size: 6vw 3vw;
  background-position: center;
  background-repeat: no-repeat;

  font-size: 1.5vw;
}
